.MainAccount {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.white{
    color:white
}
.AccountContainer {
    margin-top: 4rem;
    background-color: #ffffff00;
    width: 90%;
    max-width: 900px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgb(249, 213, 155) 0px 10px 20px 0px;
    background: linear-gradient(rgba(248, 212, 154, 0.98) -146.42%, rgba(255, 202, 113, 0.76) -46.42%);
    color: #5e4545;;
}

.header {
    display: flex;
    font-weight: bolder;
    font-size: 1.2em;
    margin-bottom: 1rem;
    justify-content: flex-start;
}

#forms {
    display: block;
    background-color: #ffffff00;
    margin-top: 0em;
    height: fit-content;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
}

/* .column{
    padding-right: 15px;
    padding-left: 15px;
} */
.form-group {
    margin-bottom: 1rem;
    margin-right: 5rem;
}

.form-group label {
    display: flex;
    margin-bottom: 0.5rem;
    justify-content: flex-start;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    /* border: none; */
    /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1); */
    box-shadow: 0 1px 2px 0 #89cff0;
    border-radius: 4px;
    background: #ffffff00;
}


@media screen and (max-width: 1200px) {
    .MainAccount {
        justify-content: flex-start;
        margin-top: 2rem;
    }

}

@media screen and (max-width: 768px) {
    .MainAccount {
        align-items: center;
        order: 2;
    }

    .AccountContainer {
        width: 80%;
        justify-content: flex-start;
        margin-top: 2rem;
    }

    /* .column {
        flex: 0 0 50%;
        max-width: 50%;
    }
    */
}