.custom-select{
    background-color:antiquewhite !important;
    border: 1px solid #d2d6dc;
}
.multi-select-row {
    display: flex;
    /* max-width: 85vw; */
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
    justify-content: center;
  }
  
.datepicker {
    width: auto !important;
    height: 2.2rem;
    margin-top: auto;
    box-sizing: border-box;
    position: relative;
    display: flex;
    color: #666666;
    background-color: antiquewhite;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 2px 5px;
    flex-direction: row;
    direction: ltr;
    align-items: center;
    cursor: pointer;

}

.react-dropdown-select-dropdown{
    /* width: 147.5px !important; */
    width: auto !important;
    background: antiquewhite !important;
    z-index: 99 !important;
}
.react-dropdown-select-item-selected, .react-dropdown-select-option{
    background: rgb(255,202,113) !important;
    color: black !important;
}