.mainUser {
  padding: 1rem 1.5rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8em;
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.card {
  text-align: center;
  overflow: hidden;
  padding: 20px 0;
  border-radius: 1.5rem;
}

/* .card:nth-child(2n){
    background-color: #DCFAFB;
}
.card:nth-child(2n+1){
    background-color: #FFE8DF;
}
.card:nth-child(2n):hover{
    background-color: #FFE8DF;
}
.card:nth-child(2n+1):hover{
    background-color: #DCFAFB;
} */

.card {
  background-color: #DCFAFB;
}

.card:hover {
  background-color: #FFE8DF;
}

.card:hover .image {
  transform: translateY(-20px);
  transition: ease-in-out 0.3s;
}

.card_img img {
  max-width: 70%;
  height: auto;
  border-radius: 4px;
}

.card_name {
  margin-top: 10px;
}

#popup {
  display: none;
}

.popup-head {
  justify-content: center;
}

.popup-head .image {
  width: 100%;
  max-width: 8rem;
  height: auto;
  padding: 1rem 0;
}

.popup-input {
  text-align: center
}

.collapsible {
  cursor: pointer;
  padding: 10px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 90%;
  margin: 5px;
  display: block;
  /* Ensure button is displayed correctly */
}

.collapsible.active {
  background-color: #ccc;
}

.content {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 0;
  /* Initially hidden */
  padding: 0;
  border-top: 1px solid #ddd;
}

.content.show {
  max-height: 1000px;
  /* A value large enough to fit the content */
  padding: 10px;
  width: 90%;
}

.content.hide {
  max-height: 0;
  /* Hidden */
  padding: 0;
  width: 90%;
}

.form-group {
  font-weight: bold;
  display: flex;
  margin-top: 2rem;
  width: 97%;
  margin-right: 0;
  justify-content: center;
}

.form-group label {
  justify-content: center;
  margin-right: 1rem;
}

.form-group input,
select {
  width: 10rem;
}

.errorMsg {
  color: red !important;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  max-width: 20rem;
}

.file-upload {
  border: 2px dashed #ddd;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  width: 25rem;
}

.file-upload.drag-over {
  border-color: #2196f3;
  background-color: #e8f4ff;
}

.file-upload p {
  margin: 0;
  color: #666;
}

.file-upload-label {
  display: inline-block;
  margin: 10px;
  padding: 8px 16px;
  background-color: #2196f3;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.submitForm {
  margin: 2rem;
  border-radius: 20px;
  border: 1px solid #89CFF0;
  background-color: #89CFF0;
  color: #1a1919;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.submitForm:hover {
  border: 1px solid #408be0;
  background-color: #408be0;
  color: #ffffff;
  cursor: pointer;
  transition: transform 80ms ease-in;
}

.selectRole {
  height: 2.5rem;
  margin-top: .4rem;
  border: none;
}

.inputGroup {
  margin: 2rem;
}


/* system parameters */

.article-body {
  background-color: #ffffff;
  min-height: 10vh;
}

/* Modified grid-container2 to handle 30:70 split */
.grid-container2 {
  display: flex;
  width: 100%;
  gap: 20px; /* Maintain spacing between the sections */
  padding: 20px;
}

/* 30% section for the existing form */
.thirty-percent {
  width: 30%;
  padding-right: 10px; /* Optional: To add some spacing */
  background: #e0f1ef;
  border-radius: 15px;
}

/* 70% section for the new divisions */
.seventy-percent {
  width: 70%;
  display: flex;
  flex-direction: inherit;
  gap: 20px; /* Spacing between the divisions */
}

/* Style for each section within the 70% part */
.seventy-percent > div {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  border: 1px solid #ddd;
}

/* Zone selection styling */
.zone-selection h2,
.states-in-zone h2,
.states-outside-zone h2 {
  margin-top: 0;
  font-size: 1.2em;
  font-weight: bold;
}

/* Radio buttons styling */
.zone-selection label {
  display: block;
  margin-bottom: 8px;
  font-size: 1em;
}

.zone-selection input[type="radio"] {
  margin-right: 10px;
}

/* State lists styling */
.states-in-zone ul,
.states-outside-zone ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.states-in-zone li,
.states-outside-zone li {
  padding: 8px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 8px;
}

/* Button to add states to selected zone */

.states-outside-zone button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #7bc27e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.states-outside-zone button:hover {
  background-color: #2d9032;
}

.states-in-zone button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #f45f44;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.states-in-zone button:hover {
  background-color: #ff0000;
}



.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000; /* Ensure it appears on top of other content */
}

.dialog h2 {
  margin-top: 0;
}

.dialog label {
  display: block;
  margin-bottom: 10px;
}

.dialog input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dialog button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.dialog button:hover {
  background-color: #0056b3;
}

.dialog .close-btn {
  background-color: #6c757d;
}

.dialog .close-btn:hover {
  background-color: #5a6268;
}
.button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 200px; /* Adjust as needed */
  padding: 10px;
  margin: 0 auto;
}

.button-container button,
.delete-button button
{
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  font-size: 16px;   
  background-color: #7bc27e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;


}

.button-container button:last-child {
  margin-bottom: 0;
}

#add-button::before {
  content: '←'; /* Unicode for left-pointing arrow */
  margin-right: 5px;
}

#remove-button::after {
  content: '→';
  margin-right: 5px;
}

#delete-button button{
  background-color: #f45f44 !important;
 
  

}

#delete-button button:hover{
  background-color: #ff0000 !important;
}

#add-state button{
  background-color: #C19EE0 !important;
}

#add-state button:hover{
  background-color: #8522db !important;
}

#create-button {
  background-color: #7bc27e;
}
#create-button:hover {
  background-color: #2d9032;
}












#formDiv {
  height: auto;
  margin: 0;
  padding: 20px; 
  background: #e0f1ef;
  border-radius: 15px;
}

@media (min-width: 768px) {
  .grid-container2 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 30px; 
  }

  #formDiv {
    padding: 30px; 
    margin: 20px 0; 
  }
}

@media (min-width: 1200px) {
  .grid-container2 {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 40px; 
  }

  #formDiv {
    padding: 40px;
    margin: 20px;
  }
}
#formDiv h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.add-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.sub-input {
  height: 40px;
  border: none;
  background: #fff;
  border-radius: 5px;
  font-size: 15px;
  padding: 0 10px;
  margin: 0;
  vertical-align: middle;
}

.sub-input:focus-visible {
  outline: none;
}

.plus-button {
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  background-color: #8b5ec6;
  vertical-align: middle;
}
.sub-list{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  max-height: 12rem;
  margin-top: 1rem;
  overflow-y: auto;
}
#formDiv ul {
  list-style: none;
  padding: 0;
  max-width: 95%;
}
#formDiv li {
  background: #fff;
  width: 100%;
  padding: 8px;
  margin: 10px 4px 10px 0px;
  border-radius: 5px;
  font-family: sans-serif;
  display: inline-block;
  vertical-align: middle;
}
.edit-button {
  height: 20px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  background-color: #ebd316;
  vertical-align: middle;
  float: right;
  margin-right: 5px;
}
.remove-button {
  height: 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background-color: #eb2f16;
  vertical-align: middle;
  float: right;
  padding: 0px 10px;
  margin-right: 5px;
}