.RightMain {
    display: flex;
    flex-direction: column;
    /* margin: 0 0 0 1rem; */
    /* justify-content: center; */
    margin: 11rem 0 0 0;
}
.ProfileContainer {
    width: 85%;
    align-self: center;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.Profile {
    background:linear-gradient(to bottom, #fff0f5, #ffe4e1);
    border-radius: 0.7rem;
    padding: 1rem;
    text-align: center;
    /* height: 35vh; */
}


.ProfileName {
    text-align: center;
    font-size: 1.2rem;
    color: #333;
}
.Profile img {
    transform: translateY(-65%); 
    width: 7rem;
    height: 7rem;
}
.ProfileData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-90px);
}
.ProfileStatus span{
    font-weight: bold;
    font-size: initial;
}

@media screen and (max-width: 1200px) {
    /* .RightMain {
        justify-content: flex-start;
        margin-top: 11rem;
    } */
}

@media screen and (max-width: 768px) {
    .RightMain {
        /* width: 100%; */
        margin-top: 1rem;
        /* order: 1; */
    }
    .ProfileContainer {
        margin-top: 4rem;
    }
}
.status{
    font-size: 13px;
}