.status {
  padding: 8px;
  border-radius: 9px;
}

.Details {
  color: #00b5ff !important;
}

.action-row {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.action-img {
  max-width: 1.5rem;
  height: auto;
  cursor: pointer;
}
